body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: black;
  color: red;
}
a:visited{
  color:red
}
h1 {
  text-decoration: underline overline;
  color: white;
}
.hero-title {
  text-decoration: none;
  color: red;
}
h2 {
  color: #f28f85;
  font-weight: bold;
}

#album-cover-art{
  display: block;
  margin-left: 3px;
  margin-right: auto;
  outline:solid;
}
.library-image {
  display: block;
  margin-left: 3px;
  margin-right: auto;
  outline:solid;
}
.player-bar {
  text-align: left;
}
.player-bar button {
  color: red;
}
#volume-control {
  color: red;
}
